.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height:50px;
    width:50px;
    padding-right: 4px 12px;
    font-size: 10px;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #4cafad; /* Green */
    color: white;
  }

  .box {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 100px;
  }
  
  .box div {
    width: 50px;
    height: 50px;
  }
  .footer {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 400px;
}
.card-title{
  text-align: left;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

.box-size {
  width: 200px;
  height: 70px;  
  padding: 50px;
  border: 1px solid red;

}

.example-card {
    max-width: 300px;
    max-height: 500px;
  }
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */
  