.navbar {
    justify-content: space-between;
    height: 45px;
    width: 83rem;
    }
    .span {
        justify-content: space-between;
        padding-right: 3 rem ;
        float: right;
        cursor: pointer;
        margin: right;
        float: none;
    }
    
    .logout {
    cursor: pointer;
    }