<mat-toolbar color ="accent" class="navbar" width="105%">
    <div class="logout">
        <mat-icon  routerLink="/dashboard" routerLinkActive="active">reorder</mat-icon>
        
       
    </div>

    <div> 
        Courier
        <!-- <span >
            
            <small>Login</small>
         
        <mat-icon >account_box</mat-icon>
    </span> -->
    </div>
   
    <div class="logout">
        
        <!-- <span >
            <mat-icon>notifications</mat-icon>
        </span> -->
      
        <span >
            <!-- <small>Logout</small> -->
            <mat-icon> account_circle</mat-icon>
        </span>
        
        
       
    
    </div>
 </mat-toolbar>

 


 <!-- <img  *ngIf="!this.authService.isLoggedIn()" src="/assets/image/blur-background.jpg" width="105%"> -->
